-
  var cultureContent = [
    {
      'link': '/grapes.html',
      'imgPath': 'covers/grapes',
      'altImg': 'Виноград',
      'name': 'Виноград'
    },
    {
      'link': '/blueberry.html',
      'imgPath': 'covers/blueberry',
      'altImg': 'Голубика',
      'name': 'Голубика'
    },
    {
      'link': '/honeysuckle.html',
      'imgPath': 'covers/honeysuckle',
      'altImg': 'Жимолость',
      'name': 'Жимолость'
    },
    {
      'link': '/currant.html',
      'imgPath': 'covers/currant',
      'altImg': 'Смородина',
      'name': 'Смородина'
    },
    {
      'link': '/gooseberry.html',
      'imgPath': 'covers/gooseberry',
      'altImg': 'Крыжовник',
      'name': 'Крыжовник'
    },
  ];
- var cultureTitle = 'Наши культуры'


section.culture
  .container
    h2.heading.main__heading.heading-light=cultureTitle
    .culture__grid
      each item in cultureContent
        a.catalog__item.catalog__item--lg(href=item.link)
          picture
            source(srcset='./img/' + item.imgPath + '.webp' type="image/webp")
            img(src='./img/' + item.imgPath + '.jpg' alt=item.altImg)
          .catalog__item-name
            span=item.name
