.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow {
  width: 24px;
  height: 15px;
}
.icon-arrow-slider-left {
  width: 451.847px;
  height: 451.847px;
}
.icon-arrow-slider-right {
  width: 451.846px;
  height: 451.847px;
}
.icon-facebook {
  width: 9px;
  height: 17px;
}
.icon-instagram {
  width: 17px;
  height: 17px;
}
.icon-logo {
  width: 154px;
  height: 36px;
}
.icon-mail {
  width: 22px;
  height: 22px;
}
.icon-map-marker {
  width: 19px;
  height: 19px;
}
.icon-phone {
  width: 16px;
  height: 17px;
}
.icon-vk {
  width: 22px;
  height: 13px;
}
.icon-youtube {
  width: 14px;
  height: 17px;
}
