-
  var adventagesContent = [
    {
      'img': '1',
      'title': 'Качественный посадочный материал',
      'text': 'Все культуры нашего питомника проходят зимовку исключительно в открытом грунте. Все саженцы выращены в закрытой корневой системе. Проходят профилактическую обработку от заболеваний и вредителей. Каждое растение подписано и пломбировано.'
    },
    {
      'img': '2',
      'title': 'Лучшие сорта для климата РБ',
      'text': 'Многолетний опыт нашего питомника позволил выявить лучшие сорта для климата не толькой Гомельской области, но и Республики Беларусь. Нам не составит труда подобрать оптимальные сорта для северных регионов страны.'
    },
    {
      'img': '3',
      'title': 'Tехническая поддержка',
      'text': 'Мы оказываем консультации по выращиванию и обработке, предлагаем решения по посадке. Каждое растение имеет памятку-аннотацию с нашей агротехникой. Консультации оказываем ежедневно до 23:00.'
    },
  ];

.container-fluid
  section.advantages
    each item in adventagesContent
      .advantages__col(class="advantages__col--" + item.img)
        .advantages__descr
          .advantages__descr-content
            h2.advantages__title=item.title
            p.advantages__descr-text=item.text