.about {
  margin: 60px 0;

  &__row {
    display: flex;

    @include tablet-and-phone {
      flex-direction: column;
    }
  }

  &__photo-col {
    display: flex;
    justify-content: center;
    width: 45%;
    margin-right: 70px;

    @include tablet-and-phone {
      width: 100%;
      margin-right: 0;
    }

    img {
      border: 10px solid rgba(158,159,159, .2);
      max-height: 500px;
      width: auto;

      @include tablet {
        max-height: 400px;
      }

      @include mobile {
        max-height: 300px;
      }
    }
  }

  &__info-col {
    width: 49%;
    padding: 20px 0 0;

    @include tablet-and-phone {
      width: 100%;
    }
  }

  &__heading {
    margin-bottom: 20px;
    color: $dark-color;
    @include bold;
    font-size: 30px;
    line-height: 40px;
  }

  &__info {
    margin-bottom: 20px;
    @include medium;
    color: $grey-color;
  }
}