.accordeon {
  max-width: 300px;
  width: 30%;
  height: 100%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: $black-color;
  color: $white-color;

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
  }

  &__item {
    margin-bottom: 10px;
    
    &.active {
      .accordeon__header {
        background-color: $green-color;
        
        svg {
          transform: rotate(270deg);
        }
      }
      .accordeon__content {
        padding: 20px 5px;
        height: 100%;
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &__header {
    position: relative;
    width: 100%;
    padding: 15px 15px 15px 20px;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    background-color: $black-color;
    color: #fbfbfb;
    border: 2px solid $green-color;
    outline: none;
    cursor: pointer;
    transition: .1s;

    svg {
      width: 10px;
      height: 10px;
      margin-bottom: 1px;
      margin-right: 5px;
      fill: #fbfbfb;
      transform: rotate(180deg);
      transition: .3s;
    }
  }

  &__content {
    margin: 0;
    padding: 0;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: overflow .4s, opacity .4s;
  }
}