.advantages {
  display: flex;
  color: $white-color;

  &__col {
    position: relative;
    width: 33.3%;

    &:nth-child(even) {
      .advantages__descr {
        background-color: rgba(72,59,51,.7);
      }
    }

    > img {
      display: block;
      max-height: 400px;
      height: 100%;
      width: 100%;
    }
  }

  &__descr {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(105,175,7,.7);

    &-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 40px 35px;
    }

    &-text {
      text-align: center;
    }
  }

  &__title {
    font-size: 30px;
    @include bold;
    margin-bottom: 20px;
    text-align: center;
  }
}