.advantages {
  display: flex;
  color: $white-color;

  @include mobile {
    flex-direction: column;
  }

  &__col {
    position: relative;
    width: 33.3%;
    
    &:last-child {
      width: calc(33.3% + 1px);

      @include mobile {
        width: 100%;
      }
    }

    @include mobile {
      width: 100%;
    }

    &:nth-child(even) {
      .advantages__descr {
        background-color: rgba(72,59,51,.7);
      }
    }

    > img {
      display: block;
      height: 400px;
      width: 100%;

      @include tablet {
        height: 350px;
      }

      @include mobile {
        height: 300px;
      }

      @include mobile-s {
        height: 320px;
      }
    }
  }

  &__descr {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(105,175,7,.7);

    &-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 35px;

      @include mobile {
        padding: 0 15px;
      }
    }

    &-text {
      text-align: center;
    }
  }

  &__title {
    font-size: 30px;
    @include bold;
    margin-bottom: 20px;
    text-align: center;

    @include tablet {
      font-size: 26px;
    }
  }
}