.banner {
  height: 300px;
  width: 100%;
  background-image: url(../images/grape-main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;

  @include mobile {
    height: 200px;
    margin-bottom: 35px;
  }
}