.banner {
  height: 300px;
  width: 100%;
  background-image: url(/static/images/grape-main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}