.contacts {
  margin-bottom: 40px;
  
  &__wrap {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__aside {
    background-color: $black-color;
    color: $white-color;

    &-wrap {
      width: 30%;
      margin-left: 50px;

      @include mobile {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
      }
    }

    &-heading {
      padding: 12px 15px;
      font-size: 17px;
      @include regular;
      background-color: $green-color;
    }

    &-info {
      padding: 12px 15px;
      @include medium;
    }
  }

  &__info {
    &-wrap {
      flex: 1;
    }

    &-about {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 22px;
    }
  }

  &__contacts {
    &-list {
      display: flex;
      flex-direction: column;
    }

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      @include medium;
      color: $black-color;
      font-size: 15px;

      @include mobile {
        font-size: 14px;
      }
      
      svg {
        min-width: 22px;
        fill: $green-color;
      }

      a {
        margin-left: 10px;
        margin-right: 5px;
        @include medium;
        color: $black-color;
        font-size: 15px;

        @include mobile {
          margin-left: 5px;
          margin-right: 0;
          font-size: 14px;
        }

        &:hover {
          color: $green-color;
        }
      }

      span {
        @include mobile {
          display: block;
          margin-top: 5px;
          margin-left: 10px;
          font-size: 13px;
        }
      }
    }
  }
}