.page {
  &__heading {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    @include semibold;
    font-size: 30px;
    text-transform: capitalize;
    text-align: left;
    color: $dark-color;

    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: $dark-color;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &__sub-heading {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    @include semibold;
    font-size: 25px;
    text-transform: capitalize;
    text-align: left;
    color: $dark-color;

    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: $green-color;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}