.main-slider {
  position: relative;
  height: 600px;

  @include tablet {
    height: 400px;
  }

  @include mobile {
    height: 250px;
  }

  @include mobile-s {
    height: 200px;
  }

  @include mobile-m {
    height: 230px;
  }

  .slider {
    position: relative;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  &__left-wrap,
  &__right-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    cursor: pointer;

    @include mobile {
      width: 60px;
    }

    &:hover {
      svg {
        fill: lighten($black-color, 5%);
      }
    }

    svg {
      height: 50px;
      width: auto;
      fill: $black-color;
      transition: .3s;

      @include tablet {
        height: 40px;
      }

      @include mobile {
        height: 30px;
      }
    }
  }

  &__left-wrap {
    left: 0;
    background: linear-gradient(90deg, #38423B 0%, rgba(196, 196, 196, 0) 100%);  

    &:hover {
      svg {
        transform: translateX(-10px);
      }
    }
  }

  &__right-wrap {
    right: 0;
    background: linear-gradient(270deg, #38423B 0%, rgba(196, 196, 196, 0) 100%);

    &:hover {
      svg {
        transform: translateX(10px);
      }
    }
  }
}