.product {

  &__heading {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    @include semibold;
    font-size: 30px;
    text-transform: capitalize;
    text-align: left;
    color: $dark-color;

    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: $dark-color;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__inner {
    margin-bottom: 60px;
  }

  &__row {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet-and-phone {
      flex-direction: column;
      align-items: center;
    }
  }

  &__gallery {
    flex: 1 0 auto;
    margin-right: 60px;
    width: 500px;
    height: 100%;
    padding: 10px;
    border: 2px solid $green-color;

    @include tablet-and-phone {
      margin-right: 0;
      margin-bottom: 20px;
      width: 60%;
    }

    @include mobile-m {
      width: 80%;
    }

    @include mobile-s {
      width: 100%;
    }
  }

  &__info {
    &-descr {
      @include regular;
      font-size: 15px;
      line-height: 23px;
    }
  }

  &__video {
    margin: 0 auto 60px;
    width: 80%;
    height: 500px;

    @include tablet {
      height: 400px;
    }
    
    @include mobile {
      width: 100%;
      height: 200px;
    }

    @include mobile-l {
      height: 300px;
    }
  }
}