.why-us {
  margin-top: 60px;
  margin-bottom: 60px;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 25px 20px;
    border: 1px dashed $green-color;
    cursor: pointer;
    transition: .2s;

    @include mobile {
      text-align: center;
    }

    &:hover {
      background: darken($white-color, 2%);

      .why-us__item-heading {
        color: $green-color;
      }
    }

    @include mobile {
      width: calc(100% - 20px);
    }

    &-heading {
      position: relative;
      padding-left: 78px;
      margin-top: 18px;
      @include bold;
      font-size: 20px;
      line-height: 25px;
      color: $dark-color;
      transition: .2s;

      @include mobile {
        padding-left: 0;
        padding-top: 33px;
        margin-top: 23px;
      }

      svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: auto;
        height: 48px;
        fill: $green-color;

        @include mobile {
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &-info {
      margin-top: 30px;

      @include mobile {
        margin-top: 20px;
      }
    }
  }
}