- var aboutTitle = 'Дорогие садоводы!'
- var aboutText = 'Мы рады приветствовать Вас на Сад Центр Бай. Этот сайт для тех, кто ищет качественный и стабильно высокий урожай. Основная специализация питомника — выращивание лучших сортов винограда, голубики, жимолости, а так же других культур, таких как: крыжовник, смородина и прочее. Для тех, кто хочет украсить свой сад потрясающей красоты декоративными растениями, мы предлагаем туи, можжевельники и розы. Наш опыт садоводства насчитывает уже 30 лет и с каждым годом мы развиваемся, дополняя коллекцию новинками от лучших селекционеров СНГ и Европы. Все культуры собственного производства, выращиваются исключитьно в открытом грунте и в закрытой корневой системе. Растения адаптированы и зимовку проходят на улице. Тысячи довольных клиентов, лучшие сорта растений и профессиональный подход к нашей работе. Питомник растительных культур семьи Пухальских обеспечит Вам качественный и стабильный урожай, а так же красоту на Вашем участке.'

section.about
  .container
    .about__row
      .about__photo-col
        picture
          source(srcset='../img/index-page/main-photo.webp' type="image/webp")
          img(src='../img/index-page/main-photo.png' alt='Главное фото Пухальских')
      .about__info-col
        h2.heading.about__heading=aboutTitle
        p.about__info=aboutText
        a(href="/about.html").btn.btn-primary Подробнее