- var whyUsTitle = 'Почему нас выбирают'
-
  var whyUsItems = [
    {
      'title': 'У нас 20+ лет опыта',
      'index': '1',
      'text': 'Богатый опыт нашего питомника позволил выявить все тонкости в агротехнике представленых культур. Укоренение состовляет практически 100%. Весь посадочный материал проходит внутренний контроль перед продажей. Независимо от погодных условий мы подскажем вам лучшие решения для получения стабильно качественного урожая.'
    },
    {
      'title': 'Свыше 8000 довольных клиентов',
      'index': '2',
      'text': 'Наш питомник ежегодно представляет г.Мозырь на городских, районных, областных выставках-ярмарках на протяжении многих лет. Каждому клиенту мы индивидуально подбираем сорта исходя из предпочтений, пожеланий и опыта работы. Так же даём гарантию на укоренение и сортовое соответствие.'
    },
    {
      'title': 'Только лучшие сорта растений',
      'index': '3',
      'text': 'За все годы нашего питомника у нас было более 300 сортов винограда из различных областей СНГ: юга Украины, Ростова-на-Дону Новочеркасска, Латвии. К примеру из 20 гибридных форм селекционера из Днепропетровска оптимальными для климата РБ оказались 3 (открытый грунт). В нашей коллекции найдутся сорта как для начинающих, так и для любителей садового дела.'
    },
    {
      'title': 'Профессиональный подход к работе',
      'index': '4',
      'text': 'Все культуры нашего питомника собственного производства, обработаны, без сорняков, выращены в естественных условиях. В нашем инстаграм вы можете увидеть будни питомника садцентербай. Все новинки селекционеров, гибридные формы мы проверяем лично на протяжении 3х лет, и только тогда принимаем решение о размножении. Все культуры проходят этот этап.'
    }
  ]

section.why-us
  .container
    h2.heading.main__heading=whyUsTitle
    .why-us__grid
      each item in whyUsItems
        .why-us__item
          h3(class="why-us__item-heading-"+item.index).why-us__item-heading= item.title
          p.why-us__item-info= item.text
