<!-- build:scripts -->
<script src="libs/jquery.min.js"></script>
<script src="support-libs.js"></script>

<script src="ui.js"></script>
<script src="libs/slick.js"></script>
<!-- endbuild -->

</body>

</html>
