</div>

<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col">
                <div class="footer__col-inner">
                    <h2 class="footer__heading">
                        О нас
                    </h2>
                    <p class="footer__about-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Beatae iste doloribus ut placeat eveniet possimus ea molestiae. 
                        Sequi ut, adipisci corrupti fugit tempore assumenda iusto quasi, 
                        numquam reprehenderit provident illum eius earum reiciendis 
                        veritatis nisi. Pariatur sit, illum suscipit quia cupiditate 
                        facilis vero non modi itaque reiciendis veniam! Architecto, excepturi.
                    </p>
                    <ul class="footer__about-social">
                        <li>
                            <a class="footer__about-social-icon" href="#">
                                {{> ui/svg name="instagram" }}
                            </a>
                        </li>
                        <li>
                            <a class="footer__about-social-icon footer__about-social-icon--vk" href="#">
                                {{> ui/svg name="vk" }}
                            </a>
                        </li>
                        <li>
                            <a class="footer__about-social-icon" href="#">
                                {{> ui/svg name="facebook" }}
                            </a>
                        </li>
                        <li>
                            <a class="footer__about-social-icon" href="#">
                                {{> ui/svg name="youtube" }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__col-inner">
                    <h2 class="footer__heading">
                        Контакты
                    </h2>
                    <p class="footer__contacts-text">
                        “Сад Центр Бай”<br>Питомник растительных культур семьи Пухальских
                    </p>
                    <ul class="footer__contacts-list">
                        <li class="footer__contacts-item">
                            <a href="">
                                г. Мозырь, д. Загорины 247771 РБ
                            </a>
                            {{> ui/svg name="map-marker" }}
                        </li>
                        <li class="footer__contacts-item">
                            <a href="">
                                МТС Viber WhatsApp +375(33) 315-48-02 
                            </a>
                            {{> ui/svg name="phone" }}
                        </li>
                        <li class="footer__contacts-item">
                            <a href="">
                                МТС +375(29) 888-93-94  
                            </a>
                            {{> ui/svg name="phone" }}
                        </li>
                        <li class="footer__contacts-item">
                            <a href="">
                                А1 +375(29) 124-70-20 
                            </a>
                            {{> ui/svg name="phone" }}
                        </li>
                        <li class="footer__contacts-item">
                            <a href="">
                                sadcenterby@gmail.com
                            </a>
                            {{> ui/svg name="mail" }}
                        </li>
                        <li class="footer__contacts-item">
                            <a href="">
                                @sadcenterby
                            </a>
                            {{> ui/svg name="instagram" }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright__wrap">
        <div class="container">
            <div class="copyright__inner">
                <p class="copyright__text">
                    © sadcenter.by Все права защищены
                </p>
                <p class="developer"> 
                    <a href="#">
                        Разработчик AZ
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

{{> layout/bottom}}
