{{> layout/head }}
<div class="wrap">
  <div class="wrap__outer">
    <header class="header">
      <div class="container">
        <div class="header__row-top">
          <div class="header__inner">
            <div class="header__inner-mail">
              {{> ui/svg name="mail" }}
              <a href="#">
                sadcenterby@gmail.com
              </a>
            </div>
          </div>
          <div class="header__inner">
            <div class="header__inner-social">
              <ul class="header__inner-social-list">
                <li class="header__inner-social-item">
                  <a href="">
                    {{> ui/svg name="instagram" }}
                  </a>
                </li>
                <li class="header__inner-social-item">
                  <a href="">
                    {{> ui/svg name="vk" }}
                  </a>
                </li>
                <li class="header__inner-social-item">
                  <a href="">
                    {{> ui/svg name="facebook" }}
                  </a>
                </li>
                <li class="header__inner-social-item">
                  <a href="">
                    {{> ui/svg name="youtube" }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="header__inner-social">
              <div class="header__inner-social-phone">
                {{> ui/svg name="phone" }}
                <a href="#">
                  +375(33) 315-48-02
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="header__row-bot">
          <div class="header__logo">
            <a href="">
              {{> ui/svg name="logo" }}
            </a>
          </div>
          <nav class="header__nav">
            <div class="header__nav-mob">
              <button class="header__nav-mob__toggle">
                Меню
                <span class="header__nav-mob__btn">
                  X
                </span>
              </button>
            </div>
            <ul class="header__nav-list">
              <li class="header__nav-item active">
                <a href="">Главная</a>
              </li>
              <li class="header__nav-item">
                <a href="">Виноград</a>
              </li>
              <li class="header__nav-item">
                <a href="">Голубика</a>
              </li>
              <!--<li class="header__nav-item">
                <a href="">Жимолость</a>
              </li>-->
              <li class="header__nav-item">
                <a>Прочее</a>
                <ul class="header__nav-item__sublist">
                  <li class="header__nav-item__subitem">
                    <a href="">Смородина</a>
                  </li>
                  <li class="header__nav-item__subitem">
                    <a href="">Крыжовник</a>
                  </li>
                  <li class="header__nav-item__subitem">
                    <a href="">Лимон</a>
                  </li>
                  <li class="header__nav-item__subitem">
                    <a href="">Мята</a>
                  </li>
                  <li class="header__nav-item__subitem">
                    <a href="">Розы</a>
                  </li>
                </ul>
              </li>
              <li class="header__nav-item">
                <a href="">Цены</a>
              </li>
              <li class="header__nav-item">
                <a href="">О нас</a>
              </li>
              <li class="header__nav-item">
                <a href="">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="wrap__inner">