{{> layout/head }}
    <header class="header">
      <div class="container">
        <div class="header__row-top">
          <div class="header__inner">
            <div class="header__inner-mail">
              {{> svg/mail }}
              <a href="mailto:sadcenterby@gmail.com">
                sadcenterby@gmail.com
              </a>
            </div>
          </div>
          <div class="header__inner">
            <div class="header__inner-social">
              <ul class="header__inner-social-list">
                <li class="header__inner-social-item">
                  <a href="https://www.instagram.com/sadcenterby/" target="_blank">
                    {{> svg/instagram }}
                  </a>
                </li>
                <li class="header__inner-social-item">
                  <a href="https://vk.com/" target="_blank">
                    {{> svg/vk }}
                  </a>
                </li>
                <li class="header__inner-social-item">
                  <a href="https://www.facebook.com/" target="_blank">
                    {{> svg/facebook }}
                  </a>
                </li>
                <li class="header__inner-social-item">
                  <a href="https://www.youtube.com/" target="_blank">
                    {{> svg/youtube }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="header__inner-social">
              <div class="header__inner-social-phone">
                <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4041 11.2727C12.4257 10.4359 11.4328 9.92897 10.4664 10.7645L9.88929 11.2695C9.46708 11.6361 8.68208 13.349 5.64697 9.85755C2.6125 6.37053 4.41826 5.8276 4.84111 5.46417L5.42133 4.95853C6.38268 4.12106 6.01988 3.0668 5.32652 1.98157L4.9081 1.32424C4.21158 0.241535 3.45312 -0.469521 2.48925 0.366681L1.96844 0.821757C1.54244 1.13209 0.351652 2.14085 0.0628052 4.05722C-0.284822 6.35662 0.811785 8.98974 3.32418 11.8788C5.83343 14.7692 8.2902 16.221 10.6174 16.1957C12.5515 16.1749 13.7195 15.1371 14.0848 14.7597L14.6075 14.304C15.5689 13.4685 14.9716 12.6177 13.9926 11.779L13.4041 11.2727Z"/>
                </svg>
                <a href="tel:+375333154802">
                  +375(33) 315-48-02
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="header__row-bot">
          <div class="header__logo">
            <a href="home.html">
              {{> svg/logo }}
            </a>
          </div>
          <nav class="header__nav">
            <div class="header__nav-mob">
              <button class="header__nav-mob__toggle">
                Меню
                <span class="header__nav-mob__btn">
                  <span></span>
                </span>
              </button>
            </div>
            <ul class="header__nav-list">
              <li class="header__nav-item active">
                <a href="home.html">Главная</a>
              </li>
              <li class="header__nav-item">
                <a href="catalog.html">Виноград</a>
              </li>
              <li class="header__nav-item">
                <a href="catalog.html">Голубика</a>
              </li>
              <li class="header__nav-item">
                <a href="catalog.html">Жимолость</a>
              </li>
              <li class="header__nav-item">
                <a href="other.html">Прочее</a>
                <ul class="header__nav-item__sublist">
                  <li class="header__nav-item__subitem">
                    <a href="catalog.html">Смородина</a>
                  </li>
                  <li class="header__nav-item__subitem">
                    <a href="catalog.html">Крыжовник</a>
                  </li>
                  <li class="header__nav-item__subitem">
                    <a href="catalog.html">Лимон</a>
                  </li>
                  <li class="header__nav-item__subitem">
                    <a href="catalog.html">Мята</a>
                  </li>
                  <li class="header__nav-item__subitem">
                    <a href="catalog.html">Розы</a>
                  </li>
                </ul>
              </li>
              <li class="header__nav-item">
                <a href="prices.html">Цены</a>
              </li>
              <li class="header__nav-item">
                <a href="contacts.html">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
