extends ../layouts/default

block variables
    - const title = "О нас | Питомник растительных культур семьи Пухальских";

block content

    - let aboutTitle = 'О нас';

    include ../../blocks/components/banner/banner
    +banner("grapes")

    section.about
        .container
            h2.heading.page__heading= aboutTitle
            p.about__info Основная специализация питомника — выращивание лучших сортов винограда, голубики, жимолости, а так же других культур, таких как: крыжовник, смородина и прочее. Для тех, кто хочет украсить свой сад потрясающей красоты декоративными растениями, мы предлагаем туи, можжевельники и розы. Наш опыт садоводства насчитывает уже 30 лет и с каждым годом мы развиваемся, дополняя коллекцию новинками от лучших селекционеров СНГ и Европы. Все культуры собственного производства, выращиваются исключитьно в открытом грунте и в закрытой корневой системе. Растения адаптированы и зимовку проходят на улице. Тысячи довольных клиентов, лучшие сорта растений и профессиональный подход к нашей работе. Питомник растительных культур семьи Пухальских обеспечит Вам качественный и стабильный урожай, а так же красоту на Вашем участке.
            .img-group
                img(src="./img/about/about-img-2.jpg" alt="Питомник растительных культур семьи Пухальских")
                img(src="./img/about/about-img-1.jpg" alt="Питомник растительных культур семьи Пухальских")

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")
