extends ../layouts/default

block variables
	- const title = "Голубика | Питомник растительных культур семьи Пухальских";

block content

	- let catalogTitle = 'Голубика';
	-
		let catalogItems = [
			{
				'link': './blueberry/aino.html',
				'imgSrc': 'blueberry/aino/aino-md',
				'name': '“Aino”'
			},
		]

	include ../../blocks/components/banner/banner
	+banner("blueberry")

	section.catalog
		.container
			.catalog__wrap
				include ../../blocks/modules/aside/aside
				include ../../blocks/modules/catalog/catalog

				+catalog(catalogItems, catalogTitle)

block scripts
	script(src="./js/main.js")
	script(src="./js/vendor.js")
