extends ../layouts/default

block variables
	- const title = "Голубика | Питомник растительных культур семьи Пухальских";

block content

	- let catalogTitle = 'Голубика';
	-
		let catalogItems = [
			{
				'link': './blueberry/aurora.html',
				'imgSrc': 'blueberry/aurora/aurora-md',
				'name': "Аврора"
			},
			{
				'link': './blueberry/aino.html',
				'imgSrc': 'blueberry/aino/aino-md',
				'name': "Aino"
			},
			{
				'link': './blueberry/huron.html',
				'imgSrc': 'blueberry/huron/huron-md',
				'name': "Гурон"
			},
			{
				'link': './blueberry/brigitta-blue.html',
				'imgSrc': 'blueberry/brigitta-blue/brigitta-blue-md',
				'name': "Бригитта Блю"
			},
			{
				'link': './blueberry/denise-blue.html',
				'imgSrc': 'blueberry/denise-blue/denise-blue-md',
				'name': "Дениз Блю"
			},
			{
				'link': './blueberry/duke.html',
				'imgSrc': 'blueberry/duke/duke-md',
				'name': "Дюк"
			},
			{
				'link': './blueberry/puru.html',
				'imgSrc': 'blueberry/puru/puru-md',
				'name': "Пуру"
			},
			{
				'link': './blueberry/reka.html',
				'imgSrc': 'blueberry/reka/reka-md',
				'name': "Река"
			},
			{
				'link': './blueberry/sunrise.html',
				'imgSrc': 'blueberry/sunrise/sunrise-md',
				'name': "Санрайз"
			},
			{
				'link': './blueberry/spartan.html',
				'imgSrc': 'blueberry/spartan/spartan-md',
				'name': "Спартан"
			},
			{
				'link': './blueberry/hanna-s-choice.html',
				'imgSrc': 'blueberry/hanna-s-choice/hanna-s-choice-md',
				'name': "Ханнас Чойс"
			},
			{
				'link': './blueberry/hardy-blue.html',
				'imgSrc': 'blueberry/hardy-blue/hardy-blue-md',
				'name': "Хардиблю"
			},
			{
				'link': './blueberry/chandler.html',
				'imgSrc': 'blueberry/chandler/chandler-md',
				'name': "Чандлер"
			}
		]

	include ../../blocks/components/banner/banner
	+banner("blueberry")

	section.catalog
		.container
			.catalog__wrap
				include ../../blocks/modules/aside/aside
				include ../../blocks/modules/catalog/catalog

				+catalog(catalogItems, catalogTitle)

block scripts
	script(src="./js/main.js")
	script(src="./js/vendor.js")
