extends ../layouts/default

block variables
    - const title = "Смородина | Питомник растительных культур семьи Пухальских";

block content

    - let catalogTitle = 'Смородина';
    -
        let catalogItems = [
            {
                'link': './currant/arkadia.html',
                'imgSrc': 'currant/arkadia/arkadia-md',
                'name': "'Аркадия'"
            },
            {
                'link': './currant/venera.html',
                'imgSrc': 'currant/venera/venera-md',
                'name': "'Венера'"
            },
            {
                'link': './currant/gibrid-6-10-234.html',
                'imgSrc': 'currant/gibrid-6-10-234/gibrid-6-10-234-md',
                'name': "'Гибрид 6-10-234'"
            },
            {
                'link': './currant/gibrid-6-20-246.html',
                'imgSrc': 'currant/gibrid-6-20-246/gibrid-6-20-246-md',
                'name': "'Гибрид 6-20-246'"
            },
            {
                'link': './currant/dar-smolyaninovoj.html',
                'imgSrc': 'currant/dar-smolyaninovoj/dar-smolyaninovoj-md',
                'name': "'Дар Смоляниновой'"
            },
            {
                'link': './currant/ladushka.html',
                'imgSrc': 'currant/ladushka/ladushka-md',
                'name': "'Ладушка'"
            },
            {
                'link': './currant/lika.html',
                'imgSrc': 'currant/lika/lika-md',
                'name': "'Лика'"
            },
            {
                'link': './currant/solovinaya-noch.html',
                'imgSrc': 'currant/solovinaya-noch/solovinaya-noch-md',
                'name': "'Соловьиная ночь'"
            },
            {
                'link': './currant/ehboni.html',
                'imgSrc': 'currant/ehboni/ehboni-md',
                'name': "'Эбони'"
            },
        ]

    include ../../blocks/components/banner/banner
    +banner("currant")

    section.catalog
        .container
            .catalog__wrap
                include ../../blocks/modules/aside/aside
                include ../../blocks/modules/catalog/catalog

                +catalog(catalogItems, catalogTitle)

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")
