extends ../layouts/default

block variables
    - const title = "Крыжовник | Питомник растительных культур семьи Пухальских";

block content

    - let catalogTitle = 'Крыжовник';
    -
        let catalogItems = [
            {
                'link': './gooseberry/orfey.html',
                'imgSrc': 'gooseberry/orfey/orfey-md',
                'name': "'Орфей'"
            },
        ]

    include ../../blocks/components/banner/banner
    +banner("gooseberry")

    section.catalog
        .container
            .catalog__wrap
                include ../../blocks/modules/aside/aside
                include ../../blocks/modules/catalog/catalog

                +catalog(catalogItems, catalogTitle)

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")
