extends ../layouts/default

block variables
    - const title = "Крыжовник | Питомник растительных культур семьи Пухальских";

block content

    - let catalogTitle = 'Крыжовник';
    -
        let catalogItems = [
            {
                'link': './gooseberry/berill.html',
                'imgSrc': 'gooseberry/berill/berill-md',
                'name': "Берилл"
            },
            {
                'link': './gooseberry/zvezdochet.html',
                'imgSrc': 'gooseberry/zvezdochet/zvezdochet-md',
                'name': "Звездочет"
            },
            {
                'link': './gooseberry/kompromiss.html',
                'imgSrc': 'gooseberry/kompromiss/kompromiss-md',
                'name': "Компромисс"
            },
            {
                'link': './gooseberry/konfetnyj.html',
                'imgSrc': 'gooseberry/konfetnyj/konfetnyj-md',
                'name': "Конфетный"
            },
            {
                'link': './gooseberry/kseniya.html',
                'imgSrc': 'gooseberry/kseniya/kseniya-md',
                'name': "Ксения"
            },
            {
                'link': './gooseberry/nezhnyj.html',
                'imgSrc': 'gooseberry/nezhnyj/nezhnyj-md',
                'name': "Нежный"
            },
            {
                'link': './gooseberry/orfey.html',
                'imgSrc': 'gooseberry/orfey/orfey-md',
                'name': "Орфей"
            },
            {
                'link': './gooseberry/pax.html',
                'imgSrc': 'gooseberry/pax/pax-md',
                'name': "Пакс"
            },
            {
                'link': './gooseberry/panskij.html',
                'imgSrc': 'gooseberry/panskij/panskij-md',
                'name': "Панский"
            },
            {
                'link': './gooseberry/uralskij-besshipyj.html',
                'imgSrc': 'gooseberry/uralskij-besshipyj/uralskij-besshipyj-md',
                'name': "Уральский бесшипый"
            },
            {
                'link': './gooseberry/uralskij-izumrud.html',
                'imgSrc': 'gooseberry/uralskij-izumrud/uralskij-izumrud-md',
                'name': "Уральский изумруд"
            },
        ]

    include ../../blocks/components/banner/banner
    +banner("gooseberry")

    section.catalog
        .container
            .catalog__wrap
                include ../../blocks/modules/aside/aside
                include ../../blocks/modules/catalog/catalog

                +catalog(catalogItems, catalogTitle)

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")
