extends ../layouts/default

block variables
    - const title = "Виноград | Питомник растительных культур семьи Пухальских";

block content

    - let catalogTitle = 'Виноград';
    -
        let catalogItems = [
            {
                'link': '/grapes/aladdin.html',
                'imgSrc': 'grapes/grapes-aladdin/grapes-aladdin-md',
                'name': "Виноград 'Аладдин'"
            },
        ]

    include ../../blocks/components/banner/banner
    +banner("grapes")

    section.catalog
        .container
            .catalog__wrap
                include ../../blocks/modules/aside/aside
                include ../../blocks/modules/catalog/catalog

                +catalog(catalogItems, catalogTitle)

block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")
