extends ../layouts/default

block variables
    - const title = "Виноград | Питомник растительных культур семьи Пухальских";

block content

    - let catalogTitle = 'Виноград';
    -
        let catalogItems = [
            {
                'link': './grapes/aladdin.html',
                'imgSrc': 'grapes/aladdin/aladdin-md',
                'name': "'Аладдин'"
            },
            {
                'link': './grapes/antonij-velikij.html',
                'imgSrc': 'grapes/antonij-velikij/antonij-velikij-md',
                'name': "'Антоний Великий'"
            },
            {
                'link': './grapes/arkadiya.html',
                'imgSrc': 'grapes/arkadiya/arkadiya-md',
                'name': "'Аркадия'"
            },
            {
                'link': './grapes/arkadiya-lyuks.html',
                'imgSrc': 'grapes/arkadiya-lyuks/arkadiya-lyuks-md',
                'name': "'Аркадия Люкс'"
            },
            {
                'link': './grapes/arochnyj.html',
                'imgSrc': 'grapes/arochnyj/arochnyj-md',
                'name': "'Арочный'"
            },
            {
                'link': './grapes/gailyune.html',
                'imgSrc': 'grapes/gailyune/gailyune-md',
                'name': "'Гайлюне'"
            },
            {
                'link': './grapes/gurman-muskatnyi.html',
                'imgSrc': 'grapes/gurman-muskatnyi/gurman-muskatnyi-md',
                'name': "'Гурман Мускатный'"
            },
            {
                'link': './grapes/gurman-rannii.html',
                'imgSrc': 'grapes/gurman-rannii/gurman-rannii-md',
                'name': "'Гурман Ранний'"
            },
            {
                'link': './grapes/zarnica.html',
                'imgSrc': 'grapes/zarnica/zarnica-md',
                'name': "'Зарница'"
            },
            {
                'link': './grapes/kishmish-342.html',
                'imgSrc': 'grapes/kishmish-342/kishmish-342-md',
                'name': "'Кишмиш №342'"
            },
            {
                'link': './grapes/kishmish-veles.html',
                'imgSrc': 'grapes/kishmish-veles/kishmish-veles-md',
                'name': "'Кишмиш Велес'"
            },
            {
                'link': './grapes/kishmish-krasnyj.html',
                'imgSrc': 'grapes/kishmish-krasnyj/kishmish-krasnyj-md',
                'name': "'Кишмиш Красный'"
            }, {
                'link': './grapes/kishmish-nakhodka.html',
                'imgSrc': 'grapes/kishmish-nakhodka/kishmish-nakhodka-md',
                'name': "'Кишмиш Находка'"
            },
            {
                'link': './grapes/kishmish-stoletie.html',
                'imgSrc': 'grapes/kishmish-stoletie/kishmish-stoletie-md',
                'name': "'Кишмиш Столетие'"
            },
            {
                'link': './grapes/kishmish-yupiter.html',
                'imgSrc': 'grapes/kishmish-yupiter/kishmish-yupiter-md',
                'name': "'Кишмиш Юпитер'"
            },
            {
                'link': './grapes/kesha.html',
                'imgSrc': 'grapes/kesha/kesha-md',
                'name': "'Кеша'"
            },
            {
                'link': './grapes/kodryanka.html',
                'imgSrc': 'grapes/kodryanka/kodryanka-md',
                'name': "'Кодрянка'"
            },
            {
                'link': './grapes/leon-mijo.html',
                'imgSrc': 'grapes/leon-mijo/leon-mijo-md',
                'name': "'Леон Мийо'"
            },
            {
                'link': './grapes/lora.html',
                'imgSrc': 'grapes/lora/lora-md',
                'name': "'Лора'"
            },
            {
                'link': './grapes/madonna.html',
                'imgSrc': 'grapes/madonna/madonna-md',
                'name': "'Мадонна'"
            },
            {
                'link': './grapes/magdalskij.html',
                'imgSrc': 'grapes/magdalskij/magdalskij-md',
                'name': "'Магдальский'"
            },
        ]

    include ../../blocks/components/banner/banner
    +banner("grapes")

    section.catalog
        .container
            .catalog__wrap
                include ../../blocks/modules/aside/aside
                include ../../blocks/modules/catalog/catalog

                +catalog(catalogItems, catalogTitle)

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")
