extends ../layouts/default

block variables
    - const title = "Жимолость | Питомник растительных культур семьи Пухальских";

block content

    - let catalogTitle = 'Жимолость';
    -
        let catalogItems = [
            {
                'link': './honeysuckle/aurora.html',
                'imgSrc': 'honeysuckle/aurora/aurora-md',
                'name': "'Аврора'"
            },
            {
                'link': './honeysuckle/borealis.html',
                'imgSrc': 'honeysuckle/borealis/borealis-md',
                'name': "'Бореалис'"
            },
            {
                'link': './honeysuckle/vostorg.html',
                'imgSrc': 'honeysuckle/vostorg/vostorg-md',
                'name': "'Восторг'"
            },
            {
                'link': './honeysuckle/indigo-jam.html',
                'imgSrc': 'honeysuckle/indigo-jam/indigo-jam-md',
                'name': "'Индиго Джем'"
            },
            {
                'link': './honeysuckle/blue-rock.html',
                'imgSrc': 'honeysuckle/blue-rock/blue-rock-md',
                'name': "'Синий утёс'"
            },
            {
                'link': './honeysuckle/tundra.html',
                'imgSrc': 'honeysuckle/tundra/tundra-md',
                'name': "'Тундра'"
            },
            {
                'link': './honeysuckle/honey-bee.html',
                'imgSrc': 'honeysuckle/honey-bee/honey-bee-md',
                'name': "'Хоней Би'"
            },
            {
                'link': './honeysuckle/yugana.html',
                'imgSrc': 'honeysuckle/yugana/yugana-md',
                'name': "'Югана'"
            },
        ]

    include ../../blocks/components/banner/banner
    +banner("honeysuckle")

    section.catalog
        .container
            .catalog__wrap
                include ../../blocks/modules/aside/aside
                include ../../blocks/modules/catalog/catalog

                +catalog(catalogItems, catalogTitle)

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")
