extends ../layouts/default

block variables
    - const title = "Лимон | Питомник растительных культур семьи Пухальских";

block content

    - let catalogTitle = 'Лимон';
    -
        let catalogItems = [
            {
                'link': './lemon/panderosa.html',
                'imgSrc': 'lemon/panderosa/panderosa-md',
                'name': "'Пандероза'"
            },
        ]

    include ../../blocks/components/banner/banner
    +banner("lemon")

    section.catalog
        .container
            .catalog__wrap
                include ../../blocks/modules/aside/aside
                include ../../blocks/modules/catalog/catalog

                +catalog(catalogItems, catalogTitle)

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")
