extends ../layouts/default

block variables
    - const title = "Новости | Питомник растительных культур семьи Пухальских";

block content

    - let newsTitle = 'Новости';
    -
        var news = [
            {
                'link': 'https://www.mazyr.by/2020/09/za-kartoshkoj-v-mozyre-startoval-sezon-osennix-yarmarok-selxozprodukcii/',
                'author': 'Жыццё Палесся',
                'date1': '12',
                'date2': 'Сентября',
                'date3': '2020',
                'title': 'За картошкой! В Мозыре стартовал сезон осенних ярмарок сельхозпродукции',
                'descr': 'В субботу, 12 сентября, в Мозыре начался сезон осенних сельскохозяйственных ярмарок. Основной площадкой для покупки свежих овощей и фруктов стала площадь Ленина.',
                'imgPath': 'news-for-potatoes-12-09-2020/news-for-potatoes-12-09-2020'
            },
            {
                'link': 'https://www.mazyr.by/2019/10/mozyrskaya-ekzotika-segodnya-u-nas-136-sortov-vinograda/',
                'author': 'Жыццё Палесся',
                'date1': '19',
                'date2': 'Октября',
                'date3': '2019',
                'title': 'Семья Пухальских из Мозыря о том, как на 10 сотках вырастить элитные сорта винограда, голубики, жимолости и крыжовника',
                'descr': 'Владиславу Васильевичу Пухальскому немногим больше 20. Однако несмотря на достаточно молодой возраст, в его жизненной «копилке» собран довольно внушительный капитал: целеустремленность, уверенность в своих силах, умение организовать работу, любовь к своему делу, упорство, желание развиваться и идти в ногу со временем.',
                'imgPath': 'pooh-family-19-10-2019/pooh-family-19-10-2019'
            },
            {
                'link': 'https://www.sb.by/articles/gde-loze-vitsya.html',
                'author': 'СБ БЕЛАРУСЬ СЕГОДНЯ',
                'date1': '28',
                'date2': 'Сентября',
                'date3': '2019',
                'title': 'Где лозе виться?',
                'descr': 'Несмотря на то что Беларусь отнесена к зоне рискованного земледелия, у нас прекрасно растут не только картофель и яблоки, но и виноград. Самое же первое упоминание о белорусских виноградниках относится к XI веку. Киевский князь Владимир образовал тогда новый епископат в Турове, к которому отошли Пинск, Волковыск, Городень (Гродно) и вместе с ними «села, винограды, земли бортные, волости со всеми придатками». Настоятели монастырей получали княжеские наставления, как правильно выращивать виноград и укрывать лозы на зиму.',
                'imgPath': 'gde-loze-vitsya-28-09-2019/gde-loze-vitsya-28-09-2019'
            },
            {
                'link': 'https://www.sb.by/articles/i-masterstvo-i-khobbi.html',
                'author': 'СБ БЕЛАРУСЬ СЕГОДНЯ',
                'date1': '27',
                'date2': 'Июля',
                'date3': '2019',
                'title': 'Садоводство — это не столько труд, сколько мастерство и искусство',
                'descr': 'Садоводство — это не столько труд, сколько мастерство и искусство. Всякий раз убеждаюсь в этом, бывая в гостях у Василия Пухальского. Мозырянам он больше известен как врач, заведующий оториноларингологическим отделением УЗ «Мозырская городская больница». У Василия Николаевича хватает времени на все: лимоны весом более 1 кг в ординаторской вырастить, больше полутонны винограда собрать с участка, разработать свою методику посадки голубики и в начале мая угостить жимолостью своих любимиц — жену и внучку. Воплощение собственных садовых замыслов, как признается именитый доктор, — уникальная возможность отдохнуть и восстановить силы после напряженной и ответственнейшей работы: почти 1.000 операций в год!',
                'imgPath': 'i-masterstvo-i-khobbi-27-08-2019/i-masterstvo-i-khobbi-27-08-2019'
            },
            {
                'link': 'https://www.sb.by/articles/10-sotok-schastya.html',
                'author': 'СБ БЕЛАРУСЬ СЕГОДНЯ',
                'date1': '30',
                'date2': 'Сентября',
                'date3': '2017',
                'title': '10 соток счастья',
                'descr': 'Василия Пухальского в Мозыре знают как высококвалифицированного врача, заведующего лор–отделением районной больницы: до 900 операций в год! А между тем он и садовод профессиональный. В третьем поколении — врач, а в четвертом — садовник.',
                'imgPath': '10-sotok-schastya-30-09-2017/10-sotok-schastya-30-09-2017'
            },
            {
                'link': 'https://www.sb.by/articles/vostorg-ego-dushi.html',
                'author': 'СБ БЕЛАРУСЬ СЕГОДНЯ',
                'date1': '24',
                'date2': 'Марта',
                'date3': '2012',
                'title': '«Восторг» его души',
                'descr': 'Из всех сельскохозяйственных культур виноград — самая сложная и в то же время самая благодарная...',
                'imgPath': 'vostorg-ego-dushi-24-03-2012/vostorg-ego-dushi-24-03-2012'
            }
        ]

    include ../../blocks/components/banner/banner
    +banner("grapes")

    section.last-news
        .container
            h2.heading.page__heading= newsTitle
            .news__grid
                include ../../blocks/modules/news/news
                +newsCatalog(news)

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")
