extends ../layouts/default

block variables
	- const title = "Прочее| Питомник растительных культур семьи Пухальских";

block content

	- let otherTitle = 'Прочее';
	-
		let otherCatalogItems = [
			{
				'link': 'currant.html',
				'imgSrc': 'covers/currant',
				'name': "Смородина"
			},
			{
				'link': 'gooseberry.html',
				'imgSrc': 'covers/gooseberry',
				'name': "Крыжовник"
			},
			{
				'link': 'honey.html',
				'imgSrc': 'honey/honey',
				'name': "Мёд"
			},
		]

	include ../../blocks/components/banner/banner
	+banner("grapes")

	section.catalog
		.container
			.catalog__wrap
				include ../../blocks/modules/catalog/catalog

				+catalog(otherCatalogItems, otherTitle, 'lg')(class="w-100")

block scripts
	script(src="./js/main.js")
	script(src="./js/vendor.js")
