extends ../layouts/default

block variables
    - const title = "Павлония | Питомник растительных культур семьи Пухальских";

block content

    - let catalogTitle = 'Павлония';
    -
        let catalogItems = [
            {
                'link': './paulownia/gibrid-9501.html',
                'imgSrc': 'paulownia/gibrid-9501/gibrid-9501-md',
                'name': "Гибрид-9501"
            },
        ]

    include ../../blocks/components/banner/banner
    +banner("paulownia")

    section.catalog
        .container
            .catalog__wrap
                include ../../blocks/modules/aside/aside
                include ../../blocks/modules/catalog/catalog

                +catalog(catalogItems, catalogTitle)

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")
