.contacts__body
    h2.heading.page__heading Контакты
    .contacts__info-wrap
        p.contacts__info “Сад Центр Бай” Питомник растительных культур семьи Пухальских
        ul.contacts__list.contacts-list.contacts-list--left
            li.contacts__item.contacts-list__item.contacts-list__item--map
                span
                    | г. Мозырь, д. Загорины 247771 РБ
            li.contacts__item.contacts-list__item.contacts-list__item--map
                span
                    | г. Мозырь, ул. Притыцкого 2А
            li.contacts__item.contacts-list__item.contacts-list__item--tel
                a(href='tel:+375333154802')
                    | МТС Viber WhatsApp +375(33) 315-48-02
            li.contacts__item.contacts-list__item.contacts-list__item--tel
                a(href='tel:+375298889394')
                    | МТС +375(29) 888-93-94
            li.contacts__item.contacts-list__item.contacts-list__item--tel
                a(href='tel:+375291247020')
                    | А1 +375(29) 124-70-20
            li.contacts__item.contacts-list__item.contacts-list__item--mail
                a(href='mailto:sadcenterby@gmail.com')
                    | sadcenterby@gmail.com
            li.contacts__item.contacts-list__item.contacts-list__item--instagram
                a(href='https://www.instagram.com/sadcenterby/' target='_blank' rel="nofollow noopener noreferrer")
                    | @sadcenterby