aside.aside
  .contacts__aside-wrap
    .contacts__aside
      h4.contacts__aside-heading
        | Дополнительная информация
      p.contacts__aside-info
        | Консультации оказываем с 8:00 до 21:00
  .contacts__aside-wrap
    .contacts__aside
      h4.contacts__aside-heading
        | Сайт находится в стадии заполнения информацией. Для получения информации о дополнительных сортах культур пишите в директ инстаграма.