aside.aside
  .contacts__aside-wrap
    .contacts__aside
      h4.contacts__aside-heading
        | Дополнительная информация
      p.contacts__aside-info
        | Консультации оказываем с 8:00 до 21:00