<div class="pagination">
  <ul class="pagination__inner">
    <li class="pagination__item">
      <a href="#" class="pagination__btn pagination__btn-prev">
        {{> svg/arrow-slider-left}}
      </a>
    </li>
    <li class="pagination__item">
      <a href="#" class="pagination__btn">1</a>
    </li>
    <li class="pagination__item active">
      <a href="#" class="pagination__btn">2</a>
    </li>
    <li class="pagination__item">
      <a href="#" class="pagination__btn">3</a>
    </li>
    <li class="pagination__item">
      <span class="pagination__btn">…</span>
    </li>
    <li class="pagination__item">
      <a href="#" class="pagination__btn">16</a>
    </li>
    <li class="pagination__item">
      <a href="#" class="pagination__btn pagination__btn-next">
        {{> svg/arrow-slider-right}}
      </a>
    </li>
  </ul>
</div>