mixin catalog-item(link, imgSrc, name, size)
  if size == 'lg'
    - var classSize = 'catalog__item--lg'
  else
    - var classSize = ''

  a(href=link, class=classSize).catalog__item
    picture
      source(srcset='./img/'+ imgSrc +'.webp' type="image/webp")
      img(src='./img/'+ imgSrc +'.jpg' alt=name)
    .catalog__item-name
      span= name