.header {
  &__row-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ebe9e5;

    @include mobile {
      flex-direction: column;
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    &-mail {
      display: flex;
      align-items: center;
      line-height: 36px;
      @include medium;

      a {
        line-height: 36px;
        @include medium;
        color: $green-color;
        transition: 0s;

        &:hover {
          color: $black-color;
        }
      }

      svg {
        max-width: 13px;
        margin-right: 10px;
        fill: $grey-color;
      }
    }

    &-social {
      display: flex;
      align-items: center;
      min-height: 19px;
      padding-right: 15px;

      @include mobile {
        padding: 0;
      }

      &:last-child {
        padding-left: 15px;
        padding-right: 0;
        border-left: 1px solid $black-color;
        
        @include mobile {
          padding: 0;
          border: none;
        }
      }

      &-list {
        display: flex;
        align-items: center;
      }
      &-item a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        
        @include mobile {
          height: 45px;
          width: 45px;
        }
  
        svg {
          width: 20px;
          height: 20px;
          fill: $green-color;
          transition: .2s;
        
          @include mobile {
            height: 25px;
            width: 25px;
          }
        }
  
        &:hover svg {
          fill: $black-color;
        }
      }
      
      &-phone {
        display: flex;
        align-items: center;
        
        @include mobile {
          line-height: 36px;
        }
  
        svg {
          height: 16px;
          margin-right: 10px;
          fill: $black-color;
        }
  
        a {
          font-size: 15px;
          @include medium;
          transition: 0s;

          &:hover {
            color: $green-color;
          }
        }
      }
    }
  }

  &__row-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }
  }
  
  &__logo {
    padding: 20px 0;
    margin-right: 50px;

    svg {
      width: 200px;
    }

    @include mobile {
      margin-right: 0;
      padding: 15px 0;
    }
  }

  
}