<section class="about">
  <div class="container">
    <div class="about__row">
      <div class="about__photo-col">
        <img src="../static/images/main-photo.jpg" alt="">
      </div>
      <div class="about__info-col">
        <h2 class="heading about__heading">Добро пожаловать на сайт нашего питомника</h2>
        <p class="about__info">
          Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Ad, perspiciatis quia illum inventore aliquid
          quas adipisci odio sint exercitationem velit minima
          . Culpa in nihil assumenda tenetur impedit, quo dolor
          , perspiciatis illo dolores voluptatum molestias, c
          onsequuntur ipsa laudantium recusandae deserunt vel.
          Nihil exercitationem totam ea non saepe perspiciatis,
          nam, velit odit, deserunt molestias vero! Fuga accu
          samus officia rem eligendi sint similique exercitati
          onem. Dignissimos alias adipisci porro vitae. Illo si
          t qui incidunt consequuntur minima unde aut esse praes
          entium odio dignissimos eos explicabo officiis corporis
          sed corrupti, dolor laborum asperiores nobis. Sint sun
          t sapiente iure nihil ex aspernatur amet, omnis ration
          e eos atque!
        </p>
        <a class="btn btn-primary" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>