<div class="accordeon js-accordeon">
  <div class="accordeon__item active">
    <button class="accordeon__header js-accord-btn">
      {{> svg/arrow }}
      Lorem ipsum doloripsum doloripsum dolor
      </button>
    <div class="accordeon__content-wrap">
      <p class="accordeon__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Commodi reiciendis totam cumque iste quis ipsum voluptas 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Commodi reiciendis totam cumque iste quis ipsum voluptas  
      </p>
    </div>
  </div>
  <div class="accordeon__item">
    <button class="accordeon__header js-accord-btn">
      {{> svg/arrow }}
      Lorem ipsum doloripsum doloripsum dolor
      </button>
    <div class="accordeon__content-wrap">
      <p class="accordeon__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Commodi reiciendis totam cumque iste quis ipsum voluptas 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Commodi reiciendis totam cumque iste quis ipsum voluptas  
      </p>
    </div>
  </div>
  <div class="accordeon__item">
    <button class="accordeon__header js-accord-btn">
      {{> svg/arrow }}
      Lorem ipsum doloripsum doloripsum dolor
      </button>
    <div class="accordeon__content-wrap">
      <p class="accordeon__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Commodi reiciendis totam cumque iste quis ipsum voluptas 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Commodi reiciendis totam cumque iste quis ipsum voluptas  
      </p>
    </div>
  </div>
  <div class="accordeon__item">
    <button class="accordeon__header js-accord-btn">
      {{> svg/arrow }}
      Lorem ipsum doloripsum doloripsum dolor
      </button>
    <div class="accordeon__content-wrap">
      <p class="accordeon__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Commodi reiciendis totam cumque iste quis ipsum voluptas 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Commodi reiciendis totam cumque iste quis ipsum voluptas  
      </p>
    </div>
  </div>
</div>