<section class="advantages">
  <div class="advantages__col">
    <img src="../static/images/advantages-1.jpg" alt="">
    <div class="advantages__descr">
      <div class="advantages__descr-content">
        <h3 class="advantages__title">
          Качественный посадочный материал
        </h3>
        <p class="advantages__descr-text">
          Lorem ipsum dolor sit amet consectetur, 
          adipisicing elit. Ipsum, ipsa architecto 
          debitis hic molestiae distinctio ducimus 
          odit, asperiores maxime modi similique iure, 
          voluptatem quis numquam? Pariatur similique 
          in deleniti recusandae!
        </p>
      </div>
    </div>
  </div>
  <div class="advantages__col">
    <img src="../static/images/advantages-2.jpg" alt="">
    <div class="advantages__descr">
      <div class="advantages__descr-content">
        <h3 class="advantages__title">
          Лучшие сорта для климата РБ
        </h3>
        <p class="advantages__descr-text">
          Lorem ipsum dolor sit amet consectetur, 
          adipisicing elit. Ipsum, ipsa architecto 
          debitis hic molestiae distinctio ducimus 
          odit, asperiores maxime modi similique iure, 
          voluptatem quis numquam? Pariatur similique 
          in deleniti recusandae!
        </p>
      </div>
    </div>
  </div>
  <div class="advantages__col">
    <img src="../static/images/advantages-3.jpg" alt="">
    <div class="advantages__descr">
      <div class="advantages__descr-content">
        <h3 class="advantages__title">
          Tехническая поддержка
        </h3>
        <p class="advantages__descr-text">
          Lorem ipsum dolor sit amet consectetur, 
          adipisicing elit. Ipsum, ipsa architecto 
          debitis hic molestiae distinctio ducimus 
          odit, asperiores maxime modi similique iure, 
          voluptatem quis numquam? Pariatur similique 
          in deleniti recusandae!
        </p>
      </div>
    </div>
  </div>
</section>