<div class="catalog__aside">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
  Commodi reiciendis totam cumque iste quis ipsum voluptas 
  nisi odio, quas ipsa quaerat reprehenderit repudiandae perferendis. 
  Pariatur, ipsa mollitia. Eius, dolore! Voluptas.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
  Commodi reiciendis totam cumque iste quis ipsum voluptas 
  nisi odio, quas ipsa quaerat reprehenderit repudiandae perferendis. 
  Pariatur, ipsa mollitia. Eius, dolore! Voluptas.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
  Commodi reiciendis totam cumque iste quis ipsum voluptas 
  nisi odio, quas ipsa quaerat reprehenderit repudiandae perferendis. 
  Pariatur, ipsa mollitia. Eius, dolore! Voluptas.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
  Commodi reiciendis totam cumque iste quis ipsum voluptas 
  nisi odio, quas ipsa quaerat reprehenderit repudiandae perferendis. 
  Pariatur, ipsa mollitia. Eius, dolore! Voluptas.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
  Commodi reiciendis totam cumque iste quis ipsum voluptas 
  nisi odio, quas ipsa quaerat reprehenderit repudiandae perferendis. 
  Pariatur, ipsa mollitia. Eius, dolore! Voluptas.
</div>