<section class="culture">
  <div class="container">
    <h2 class="heading main__heading heading-light">Наши культуры</h2>
    <div class="culture__grid">
      {{#times 5}}
      <div class="culture__item">
        <a href="#">
          <img src="../static/images/grape-2.jpg" alt="grape">
          <div class="culture__item-name">
            <span>
              Виноград
            </span>
          </div>
        </a>
      </div>
      {{/times}}
    </div>
  </div>
</section>