<section class="culture">
  <div class="container">
    <h2 class="heading main__heading heading-light">Наши культуры</h2>
    <div class="culture__grid">
      {{#times 5}}
      <a class="culture__item" href="#">
        <img src="../static/images/grape-2.jpg" alt="grape">
        <div class="culture__item-name">
          <span>
            Виноград
          </span>
        </div>
      </a>
      {{/times}}
    </div>
  </div>
</section>