<section class="main-slider">
  <div class="slider__item">
    <img src="../static/images/slide-item.jpg" alt="slide-item">
  </div>
  <div class="slider__item">
    <img src="../static/images/slide-item.jpg" alt="slide-item">
  </div>
  <div class="slider__item">
    <img src="../static/images/slide-item.jpg" alt="slide-item">
  </div>
</section>