<section class="partners">
  <div class="container">
    <h2 class="heading page__heading">Наши партнёры</h2>
    <div class="partners__inner">
      <div class="partners__grid">
        {{#times 15}}
        <div class="partners__grid-item">
          <img src="../static/images/post.png" alt="partner">
        </div>
        {{/times}}
      </div>
    </div>
  </div>
</section>