<section class="why-us">
  <div class="container">
    <h2 class="heading main__heading">Почему нас выбирают</h2>
    <div class="why-us__grid">
      <div class="why-us__item">
        <h3 class="why-us__item-heading">
          {{> svg/why-us-1 }}
          У нас 20+ лет опыта
        </h3>
        <p class="why-us__item-info">
          Lorem, ipsum dolor sit amet consectetur 
          adipisicing elit. Eveniet molestiae eum, 
          ipsam veritatis itaque quasi optio ex molestias 
          nihil at nisi! Ab voluptatum nemo labore maxime, 
          possimus quibusdam? Minus saepe, impedit 
          autem cumque ad aliquid numquam soluta beatae 
          eaque praesentium.
        </p>
      </div>
      <div class="why-us__item">
        <h3 class="why-us__item-heading">
          {{> svg/why-us-2 }}
          Свыше 3000 довольных клиентов
        </h3>
        <p class="why-us__item-info">
          Lorem, ipsum dolor sit amet consectetur 
          adipisicing elit. Eveniet molestiae eum, 
          ipsam veritatis itaque quasi optio ex molestias 
          nihil at nisi! Ab voluptatum nemo labore maxime, 
          possimus quibusdam? Minus saepe, impedit 
          autem cumque ad aliquid numquam soluta beatae 
          eaque praesentium.
        </p>
      </div>
      <div class="why-us__item">
        <h3 class="why-us__item-heading">
          {{> svg/why-us-3 }}
          Только лучише сорта растений
        </h3>
        <p class="why-us__item-info">
          Lorem, ipsum dolor sit amet consectetur 
          adipisicing elit. Eveniet molestiae eum, 
          ipsam veritatis itaque quasi optio ex molestias 
          nihil at nisi! Ab voluptatum nemo labore maxime, 
          possimus quibusdam? Minus saepe, impedit 
          autem cumque ad aliquid numquam soluta beatae 
          eaque praesentium.
        </p>
      </div>
      <div class="why-us__item">
        <h3 class="why-us__item-heading">
          {{> svg/why-us-4 }}
          Профессиональный подход к работе
        </h3>
        <p class="why-us__item-info">
          Lorem, ipsum dolor sit amet consectetur 
          adipisicing elit. Eveniet molestiae eum, 
          ipsam veritatis itaque quasi optio ex molestias 
          nihil at nisi! Ab voluptatum nemo labore maxime, 
          possimus quibusdam? Minus saepe, impedit 
          autem cumque ad aliquid numquam soluta beatae 
          eaque praesentium.
        </p>
      </div>
    </div>
  </div>
</section>