{{!Ошбика 404}}

{{> layout/header }}

<section class="about-page">
  <div class="banner"></div>
  <div class="container">
    <h2 class="heading main__heading">Ошибка 404</h2>
    <p class="text">
      Такой страницы не существует
    </p>
  </div>
</section>

{{> layout/footer }}