{{!Страница о нас}}

{{> layout/header }}

<section class="about-page">
  <div class="banner"></div>
  <div class="container">
    <h2 class="heading page__heading">О нас</h2>
    {{#times 5}}
    <p class="about-page__text">
      Lorem ipsum dolor, sit amet consectetur 
      adipisicing elit. Molestiae omnis rem 
      error, doloremque quos, ipsum voluptatibus 
      delectus cumque maxime qui repellendus 
      voluptatem in soluta numquam? Temporibus neque 
      aperiam corrupti, sunt nemo consequuntur velit 
      obcaecati accusamus? Iusto, neque? Quidem quae 
      maxime, blanditiis est ducimus dolor repellat 
      omnis magnam, in laborum expedita.
    </p>
    {{/times}}
  </div>
</section>

{{> layout/footer }}