{{!Список товаров}}

{{> layout/header }}

<section class="catalog">
  <div class="banner"></div>
  <div class="container">
    <div class="catalog__wrap">
    {{> blocks/accordeon }}
      <div class="catalog__inner">
        <h2 class="heading page__heading">Виноград</h2>
        <div class="grid__wrap">
        {{#times 12}}
          <div class="grid__item">
            <a class="catalog__item-preview" href="product.html">
              <div class="catalog__item-img">
                <img src="../static/images/grape-2.jpg" alt="grape">
                <span class="catalog__item-more">Подробнее</span>
              </div>
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          {{/times}}
        </div>
        {{> ui/pagination}}
      </div>
    </div>
</section>

{{> layout/footer }}