{{!Список товаров}}

{{> layout/header }}

<section class="catalog">
  <div class="banner"></div>
  <div class="container">
    <div class="catalog__wrap">
    {{> blocks/aside }}
      <div class="catalog__inner">
        <h2 class="heading catalog__heading">Виноград</h2>
        <div class="catalog__grid">
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
          <div class="catalog__item">
            <a class="catalog__item-preview" href="#">
              <img class="catalog__item-img" src="../static/images/grape-2.jpg" alt="grape">
              <span class="catalog__item-name">Тимур</span>
            </a>
          </div>
        </div>
        {{> ui/pagination}}
      </div>
    </div>
</section>

{{> layout/footer }}