{{!Контакты}}

{{> layout/header }}

<div class="map">
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab0cee54845debecf5f587f3a2b5647f2385756876e1b79efd9e4b02e70f50d65&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
</div>

<section class="contacts">
  <div class="container">
    <div class="contacts__wrap">
      <div class="contacts__info-wrap">
        <h2 class="heading page__heading">Контакты</h2>
        <div class="contacts__info-inner">
          <p class="contacts__info-about">
            “Сад Центр Бай” Питомник растительных культур семьи Пухальских 
          </p>
          <ul class="contacts__contacts-list">
            <li class="contacts__contacts-item">
              {{> svg/map-marker }}
              <div class="contacts__contacts-item__inner">
                <a href="#">
                  г. Мозырь, д. Загорины 247771 РБ
                </a>
              </div>
            </li>
            <li class="contacts__contacts-item">
              {{> svg/phone }}
              <div class="contacts__contacts-item__inner">
                <a href="#">
                  +375(33) 315-48-02 
                </a>
                <span>МТС Viber WhatsApp</span>
              </div>
            </li>
            <li class="contacts__contacts-item">
              {{> svg/phone }}
              <div class="contacts__contacts-item__inner">
                <a href="#">
                  +375(29) 888-93-94 
                </a>
                <span>МТС</span>
              </div>
            </li>
            <li class="contacts__contacts-item">
              {{> svg/phone }}
              <div class="contacts__contacts-item__inner">
                <a href="#">
                  +375(29) 124-70-20 
                </a>
                <span>A1</span>
              </div>
            </li>
            <li class="contacts__contacts-item">
              {{> svg/mail }}
              <div class="contacts__contacts-item__inner">
                <a href="#">
                  sadcenterby@gmail.com
                </a>
              </div>
            </li>
            <li class="contacts__contacts-item">
              {{> svg/instagram }}
              <div class="contacts__contacts-item__inner">
                <a href="#">
                  @sadcenterby
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="contacts__aside-wrap">
        <div class="contacts__aside">
          <h4 class="contacts__aside-heading">
            Дополнительная информация
          </h4>
          <p class="contacts__aside-info">
            Консультации оказываем с 8:00 до 21:00
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{> blocks/partners}}

{{> layout/footer }}