{{!Список новостей}}

{{> layout/header }}

<section class="news">
  <div class="banner"></div>
  <div class="container">
    <div class="news__wrap">
      <div class="news__inner">
        <h2 class="heading page__heading">Статьи</h2>
        <div class="grid__wrap">
          {{#times 12}}
          <div class="grid__item news__item-wrap">
            <div class="news__item">
              <div class="news__item-img">
                <a href="https://www.mazyr.by/2019/10/mozyrskaya-ekzotika-segodnya-u-nas-136-sortov-vinograda/" class="news__item-link" target="_blank">
                  <img src="../static/images/grape-2.jpg" alt="grape">
                  <div class="news__item-date">
                    <span class="news__item-date--top">20</span>
                    <span class="news__item-date--bot">Августа</span>
                  </div>
                </a>
              </div>
              <div class="news__item-desc">
                <h3 class="news__item-heading">
                  <a href="https://www.mazyr.by/2019/10/mozyrskaya-ekzotika-segodnya-u-nas-136-sortov-vinograda/" class="news__item-link" target="_blank">
                    Lorem, ipsum dolor.
                  </a>
                </h3>
                <p class="news__item-desc__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Tempore quae et fuga nulla eius, veniam deleniti natus 
                  facere iusto deserunt. Adipisci alias minus assumenda 
                  dolorem ab corporis eius iure eaque.
                </p>
                <a href="https://www.mazyr.by/2019/10/mozyrskaya-ekzotika-segodnya-u-nas-136-sortov-vinograda/" class="btn btn-secondary news__item-link" target="_blank">
                  Побдробнее
                </a>
              </div>
            </div>
          </div>
          {{/times}}
        </div>
        {{> ui/pagination}}
      </div>
    </div>
</section>

{{> layout/footer }}