{{!Прочее}}

{{> layout/header }}

<section class="other">
  <div class="banner"></div>
  <div class="container">
    <div class="other__wrap">
      <h2 class="heading other__heading">Прочее</h2>
      <div class="other__grid">
        <div class="catalog__item">
          <a class="catalog__item-preview" href="#">
            <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
            <span class="catalog__item-name">Тимур</span>
          </a>
        </div>
        <div class="catalog__item">
          <a class="catalog__item-preview" href="#">
            <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
            <span class="catalog__item-name">Тимур</span>
          </a>
        </div>
        <div class="catalog__item">
          <a class="catalog__item-preview" href="#">
            <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
            <span class="catalog__item-name">Тимур</span>
          </a>
        </div>
        <div class="catalog__item">
          <a class="catalog__item-preview" href="#">
            <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
            <span class="catalog__item-name">Тимур</span>
          </a>
        </div>
        <div class="catalog__item">
          <a class="catalog__item-preview" href="#">
            <img class="catalog__item-img" src="../static/images/grape.jpg" alt="grape">
            <span class="catalog__item-name">Тимур</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{{> layout/footer }}