{{!Цены}}

{{> layout/header }}

<section class="prices">
  <div class="banner"></div>
  <div class="container">
    <h2 class="heading page__heading">Цены</h2>


    {{#times 5}}
    <div class="prices__item">
      <h3 class="heading page__sub-heading">Виноград</h3>
      <div class="prices__item-inner">
        <table class="prices__table">
          <thead class="prices__table-header">
            <tr>
              <td class="prices__table-col">Название</td>
              <td class="prices__table-col">Возраст</td>
              <td class="prices__table-col">Горшок</td>
              <td class="prices__table-col">Цена</td>
            </tr>
          </thead>
          <tbody class="prices__table-body">
            {{#times 20}}
            <tr>
              <td class="prices__table-col">Тимур</td>
              <td class="prices__table-col">3 года</td>
              <td class="prices__table-col">+</td>
              <td class="prices__table-col">15р</td>
            </tr>
            {{/times}}
          </tbody>
        </table>
      </div>
    </div>
    {{/times}}


  </div>
</section>

{{> layout/footer }}