{{!Карточка товара}}

{{> layout/header }}

<section class="product">
  <div class="banner"></div>
  <div class="container">
    <div class="product__wrap">
      <h2 class="heading product__heading">Тимур</h2>
      <div class="product__inner">
        <div class="product__row">
          <div class="product__gallery">
            <img src="../static/images/grape-2.jpg" alt="grape">
          </div>
          <div class="product__info">
            <div class="product__info-wrap">
              <p class="product__info-desc">
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Ipsa quaerat facere 
                ducimus aliquid eveniet qui nesciunt est, 
                aut maxime quas error voluptate placeat vitae 
                tempora optio unde necessitatibus aperiam blanditiis 
                reiciendis? Molestiae sapiente quia, id iure 
                modi aliquam eos! Quisquam ratione, velit reiciendis, 
                saepe accusantium explicabo ipsum odit ea eum cum in 
                totam. In officiis, ea minus perspiciatis deleniti 
                praesentium. Neque, facilis quaerat exercitationem nemo 
                dolor, nulla vero expedita dicta non consequatur labore 
                dolorum veniam. Voluptas assumenda itaque iure sapiente 
                vel beatae! Modi minima voluptatem obcaecati rem 
                explicabo veritatis libero incidunt esse, ratione a
                spernatur nobis, expedita fugiat, voluptate veniam ipsa.
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Ipsa quaerat facere 
                ducimus aliquid eveniet qui nesciunt est, 
                aut maxime quas error voluptate placeat vitae 
                tempora optio unde necessitatibus aperiam blanditiis 
                reiciendis? Molestiae sapiente quia, id iure 
                modi aliquam eos! Quisquam ratione, velit reiciendis, 
                saepe accusantium explicabo ipsum odit ea eum cum in 
                totam. In officiis, ea minus perspiciatis deleniti 
                praesentium. Neque, facilis quaerat exercitationem nemo 
                dolor, nulla vero expedita dicta non consequatur labore 
                dolorum veniam. Voluptas assumenda itaque iure sapiente 
                vel beatae! Modi minima voluptatem obcaecati rem 
                explicabo veritatis libero incidunt esse, ratione a
                spernatur nobis, expedita fugiat, voluptate veniam ipsa.
              </p>
            </div>
          </div>
        </div>
        <div class="product__row">
          <div class="product__info">
            <div class="product__info-wrap">
              <p class="product__info-descr">
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Ipsa quaerat facere 
                ducimus aliquid eveniet qui nesciunt est, 
                aut maxime quas error voluptate placeat vitae 
                tempora optio unde necessitatibus aperiam blanditiis 
                reiciendis? Molestiae sapiente quia, id iure 
                modi aliquam eos! Quisquam ratione, velit reiciendis, 
                saepe accusantium explicabo ipsum odit ea eum cum in 
                totam. In officiis, ea minus perspiciatis deleniti 
                praesentium. Neque, facilis quaerat exercitationem nemo 
                dolor, nulla vero expedita dicta non consequatur labore 
                dolorum veniam. Voluptas assumenda itaque iure sapiente 
                vel beatae! Modi minima voluptatem obcaecati rem 
                explicabo veritatis libero incidunt esse, ratione a
                spernatur nobis, expedita fugiat, voluptate veniam ipsa.
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Ipsa quaerat facere 
                ducimus aliquid eveniet qui nesciunt est, 
                aut maxime quas error voluptate placeat vitae 
                tempora optio unde necessitatibus aperiam blanditiis 
                reiciendis? Molestiae sapiente quia, id iure 
                modi aliquam eos! Quisquam ratione, velit reiciendis, 
                saepe accusantium explicabo ipsum odit ea eum cum in 
                totam. In officiis, ea minus perspiciatis deleniti 
                praesentium. Neque, facilis quaerat exercitationem nemo 
                dolor, nulla vero expedita dicta non consequatur labore 
                dolorum veniam. Voluptas assumenda itaque iure sapiente 
                vel beatae! Modi minima voluptatem obcaecati rem 
                explicabo veritatis libero incidunt esse, ratione a
                spernatur nobis, expedita fugiat, voluptate veniam ipsa.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="product__video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z7Dx-_c_gi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="add-info">
        <h2 class="heading add-info__heading">О посадке</h2>
        <div class="add-info__text">
          <p class="add-info__descr">
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Culpa sunt, nulla omnis 
            minima facilis nam reiciendis hic 
            accusantium odit, voluptate quos ipsam adipisci 
            optio iste provident maiores earum ad, error 
            ducimus ea? Voluptas adipisci numquam magnam 
            cum corporis, ipsam sequi a maxime recusandae 
            iusto illum qui minus atque iure quia!
          </p>
        </div>
      </div>
      <div class="info-logo__wrap">
        <ul class="info-logo__list">
          <li class="info-logo__item">
            <img src="../static/images/post.png" alt="post">
          </li>
          <li class="info-logo__item">
            <img src="../static/images/post-2.png" alt="post">
          </li>
          <li class="info-logo__item">
            <img src="../static/images/post.png" alt="post">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{{> layout/footer }}