.pagination {
  &__inner {
    display: flex;
    align-items: stretch;
  }

  &__item {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      height: 39px;
    }

    &.active {
      .pagination__btn {
        background-color: $green-color;
        color: $white-color;
      }
    }
  }
  
  &__btn {
    display: inline-block;
    padding: 7px 14px;
    height: 100%;
    background-color: $black-color;
    color: $white-color;
    font-size: 13px;
    line-height: 25px;
    white-space: nowrap;

    &:hover {
      background-color: $green-color;
      color: $white-color;
    }

    &-prev,
    &-next {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 21px;
        width: auto;
        fill: $white-color;
      }
    }

    &-prev {
      padding: 7px 16px 7px 13px;
    }

    &-next {
      padding: 7px 13px 7px 16px;
    }
  }
}